<!DOCTYPE html>
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Ulu Johan</h1>
        <strong>{{ boldmessage }}</strong><br />
        <a href="/rango/">Index</a><br />
    </body>

</html>
