<!DOCTYPE html>
<html>
    <head>
        <title>Johan Elmander</title>
    </head>

    <body>

      {% if user.is_authenticated %}
      <h1>Drogba says... hello {{ user.username }}!</h1>
      {% else %}
      <h1>Elmander says.. We fuckin' played great the whole season!</h1>
      {% endif %}

        {% if categories %}
            <ul>
              {% for category in categories %}
                  <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}



       {% if user.is_authenticated %}
       <a href="/rango/restricted/">Restricted Page</a><br />
       <a href="/rango/logout/">Logout</a><br />
       {% else %}
       <a href="/rango/register/">Register Here</a><br />
       <a href="/rango/login/">Login</a><br />
       {% endif %}

<a href="/rango/about/">About</a><br/>
<a href="/rango/add_category/">Add a New Category</a><br />

    </body>
</html>
